<div class="card" style="width: 18rem;">
    <div class="post-header">
        {{post_title}}
    </div>
    <div class="body">
        <p class="card-body"> {{post_body}}</p>
        {{user.username}} on {{format_date created_at}}
    </div>
    <div class="footer">
        <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>  
    </div>
</div>